@page "/titular/{id:int?}"
@inject NavigationManager Navegador;
@inject AgregarTitularUseCase AgregarTitularUseCase
@inject ModificarTitularUseCase ModificarTitularUseCase
@inject ObtenerTitularUseCase ObtenerTitularUseCase

@if (_esNuevoTitular)
{
    <h3>Agregando un nuevo Titular</h3>
}
else
{
    <h3>Modificando al Titular "@_titular.nombre"</h3>
}

<input placeholder="Nombre" @bind="_titular.nombre" class="form-control">
<input placeholder="Apellido" @bind="_titular.apellido" class="form-control">
<input placeholder="DNI" @bind="_titular.dni" class="form-control">
<input placeholder="Direccion" @bind="_titular.direccion" class="form-control">
<input placeholder="Telefono" @bind="_titular.telefono" class="form-control">
<input placeholder="Correo" @bind="_titular.correo" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
   Titular _titular = new Titular();
   [Parameter] public int? id { get; set; }
    bool _esNuevoTitular = true;
    protected override void OnParametersSet()
    {
        if (id != null)
        {
            var titular_hallado = ObtenerTitularUseCase.Ejecutar(id.Value);
            if (titular_hallado != null)
            {
                _titular = titular_hallado;
                _esNuevoTitular = false;
            }
        }
    }
   void Aceptar()
   {
        if(_esNuevoTitular)
        {
            AgregarTitularUseCase.Ejecutar(_titular);
        }
        else
        {
            ModificarTitularUseCase.Ejecutar(_titular);
        }
        _titular = new Titular();
        Navegador.NavigateTo("titulares");
   }
}