/* _content/AseguradoraFinal.UI/Pages/AgregarPoliza.razor.rz.scp.css */
.form-control[b-ugarwggtr0] {
    margin-bottom: 10px;
}
/* _content/AseguradoraFinal.UI/Pages/AgregarSiniestro.razor.rz.scp.css */
.form-control[b-vzh78bs8wa] {
    margin-bottom: 10px;
}
/* _content/AseguradoraFinal.UI/Pages/AgregarTercero.razor.rz.scp.css */
.form-control[b-tbf89cr6ab] {
    margin-bottom: 10px;
}
/* _content/AseguradoraFinal.UI/Pages/AgregarTitular.razor.rz.scp.css */
.form-control[b-jrm7wooh5p] {
    margin-bottom: 10px;
}
/* _content/AseguradoraFinal.UI/Pages/AgregarVehiculo.razor.rz.scp.css */
.form-control[b-9u1a6f968j] {
    margin-bottom: 10px;
}
/* _content/AseguradoraFinal.UI/Shared/DialogoConfirmacion.razor.rz.scp.css */
.dialogo-contenedor[b-8bicv2izfm] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .dialogo-contenido[b-8bicv2izfm]{
    width: 50%;
    padding: 20px;
    background-color: white;
   }
/* _content/AseguradoraFinal.UI/Shared/DialogoError.razor.rz.scp.css */
.dialogo-contenedor[b-bon4mha4zb] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .dialogo-contenido[b-bon4mha4zb]{
    width: 50%;
    padding: 20px;
    background-color: #a94343;
    border: 1.5px solid #ccc7c7;
    border-radius: 5px;
    color: white;
   }

   .btn-primary[b-bon4mha4zb] {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #020508;
    border-color: #171b21;
}
/* _content/AseguradoraFinal.UI/Shared/MainLayout.razor.rz.scp.css */
.page[b-fgnbtmu3wj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fgnbtmu3wj] {
    flex: 1;
}

.sidebar[b-fgnbtmu3wj] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-fgnbtmu3wj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fgnbtmu3wj]  a, .top-row .btn-link[b-fgnbtmu3wj] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-fgnbtmu3wj] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fgnbtmu3wj] {
        display: none;
    }

    .top-row.auth[b-fgnbtmu3wj] {
        justify-content: space-between;
    }

    .top-row a[b-fgnbtmu3wj], .top-row .btn-link[b-fgnbtmu3wj] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fgnbtmu3wj] {
        flex-direction: row;
    }

    .sidebar[b-fgnbtmu3wj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fgnbtmu3wj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-fgnbtmu3wj], article[b-fgnbtmu3wj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/AseguradoraFinal.UI/Shared/modal.razor.rz.scp.css */
.dialogo-contenedor[b-olxxhn1qs6] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .dialogo-contenido[b-olxxhn1qs6]{
    width: 50%;
    padding: 20px;
    background-color: white;
   }
/* _content/AseguradoraFinal.UI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-2d2r8c671v] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2d2r8c671v] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2d2r8c671v] {
    font-size: 1.1rem;
}

.oi[b-2d2r8c671v] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-2d2r8c671v] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2d2r8c671v] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2d2r8c671v] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2d2r8c671v]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-2d2r8c671v]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-2d2r8c671v]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2d2r8c671v] {
        display: none;
    }

    .collapse[b-2d2r8c671v] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-2d2r8c671v] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
